@import url(https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise);
@import url(https://fonts.googleapis.com/css?family=Radley);
@import url(https://fonts.googleapis.com/css?family=Muli:300);

h1{
	font-family: 'Monsieur La Doulaise', cursive; 
	font-size: 50px; 
}
#slogan{
	font-family: 'Radley', serif;
	font-size: 25px;
	font-style: normal;
	font-weight: lighter;
	font-variant: small-caps;
	letter-spacing: 3px;
}
body{
	font-family: 'Muli', sans-serif;
	text-align: center;
	font-size: 18px;
	font-weight: lighter;
	font-style: normal;
	background-color: black;
	color: #00FFFF;


}