@import url(https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise);
@import url(https://fonts.googleapis.com/css?family=Radley);
@import url(https://fonts.googleapis.com/css?family=Muli:300);
* { margin:0; padding:0; box-sizing:border-box; }

#wrapper{
	background-color: black;
	width: 100%;
}

body {
	font-family: 'Muli', sans-serif;
	font-weight: lighter;
	font-style: normal;
}
<<<<<<< HEAD

header {
	text-align:center;
}

=======
header {
	text-align:center;
}
>>>>>>> origin/master
h1 {
	font-family: 'Monsieur La Doulaise', cursive; 
	font-size: 50px; 
	color: white;
	text-align: center;
	background-color: black;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: black;
	font-family: Arial, sans-serif;
	color: white;
	/* float: right; */
}
a{
	background-color: #383838;
	color: white;
	text-decoration: none;
	display: inline-block;
	/* float: left; */
	padding: 20px;
}
a:hover {
	background-color: black;
}

.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#slogan {
	background-color: black;
	color: white;
	font-family: 'Radley', serif;
	font-size: 25px;
	font-style: normal;
	font-weight: lighter;
	font-variant: small-caps;
	text-align: center;
	padding: 2em 0 0;
}

#about_image {
	background: url(../image/parisbackground.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	height: 15em;
	font-size: 2em;
	font-family: 'Radley', serif;
	font-variant: small-caps;
	padding: 2em;
	text-align: left;
}
#about p {
	padding: 4em 10px;
	width: 30em;
	margin: auto;
	font-size: 0.9em
}

#portfolio_image {
	background: url(../image/grassdrawing.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	height: 15em;
	font-size: 2em;
	font-family: 'Radley', serif;
	font-variant: small-caps;
	padding: 2em;
	text-align: left;
}
#portfolio img { 
	padding: 2em 5em 2em 5em;
	width: 25em;
	margin: auto;
}
#drawing_title {
	font-family: 'Radley', serif;
	font-variant: small-caps;
	font-size: 1.5em;
	padding: 1.5em;
}
#photograph_title {
	font-family: 'Radley', serif;
	font-variant: small-caps;
	font-size: 1.5em;
	padding: 0em 1.5em 1.5em 1.5em;
}
#portfolio p {
	padding: 0em 0em 0em 2em;
	font-size: 0.9em
}

#contact_image {
	background: url(../image/contact.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	height: 15em;
	font-size: 2em;
	font-family: 'Radley', serif;
	font-variant: small-caps;
	padding: 2em;
	text-align: left;
	display: block;
}

@media only screen and (max-width: 895px) {
	#slogan {
		display: block; 
	}

	nav a {
		text-align: center;
		margin: 0;
	}

	#portfolio img{
		width: 50%;
		float: left;
	}
}

@media only screen and (max-width: 640px) {

	#portfolio img{
		width: 100%;
		/* float: left; */
	}
}