@import url(https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise);
@import url(https://fonts.googleapis.com/css?family=Radley);
@import url(https://fonts.googleapis.com/css?family=Muli:300);
* { margin:0; padding:0; box-sizing:border-box; }

body {
	font-family: 'Muli', sans-serif;
	font-size: 18px;
	font-weight: lighter;
	font-style: normal;
	text-align: center;
}

header {
	<!-- background-color: #FFED74; -->
	background-color: black;
	border: 1px black solid;
	padding: 20px;
}

nav {
	<!-- background-color: #E8C66A; -->
	background-color: black;
	opacity: 0.8;
	font-family: Arial, sans-serif;
	color: white;
}

a { 
	<!-- background-color: #ff7900; -->
	background-color: black;
	color: black;
	text-decoration: none;
	display: block;
	float: right;
	padding: 20px;
}

a:hover {
	background-color: black;
	opacity: 0.3;
	<!-- background-color: #E8C66A; -->
}

<!-- div {
background-color: #FFE2B8; 
}
-->

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#slogan {
	<!-- background-image: url("/image/headshot1.jpg") repeat-x center top; -->  
	font-family: 'Radley', serif;
	font-size: 25px;
	font-style: normal;
	font-weight: lighter;
	font-variant: small-caps;
	letter-spacing: 3px;
}

#two_column {
	<!-- background-color: #FFB7CF; -->
	border: 1px black solid;
	padding: 20px;
}

#left {
	<!-- background-color: violet; -->
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	<!-- background-color: pink; -->
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

footer {
	background-color: black;
}

h1 {
	font-family: 'Monsieur La Doulaise', cursive; 
	font-size: 50px; 
}


