@import url(https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise);
@import url(https://fonts.googleapis.com/css?family=Radley);
@import url(https://fonts.googleapis.com/css?family=Muli:300);
* { margin:0; padding:0; box-sizing:border-box; }

#wrapper{
	background-color: black;
	width: 100%;
}

body {
	font-family: 'Muli', sans-serif;
	font-weight: lighter;
	font-style: normal;
	text-align: center;
}

h1 {
	font-family: 'Monsieur La Doulaise', cursive; 
	font-size: 50px; 
	color: white;
	text-align: center;
	background-color: black;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: black;
	font-family: Arial, sans-serif;
	color: white;
	float: right;
}

a {
	background-color: #383838;
	color: white;
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px;
}

a:hover {
	background-color: black;
}

#slogan {
	background-color: black;
	color: white;
	font-family: 'Radley', serif;
	font-size: 25px;
	font-style: normal;
	font-weight: lighter;
<<<<<<< HEAD
	font-variant: small-caps;
	text-align: center;
=======
	font-variant: small-caps; /* why doesn't this work? */
	letter-spacing: 3px;
	text-align: center;
}

/* #two_column {
	border: 1px black solid;
	padding: 20px;
}

#left {
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
>>>>>>> origin/master
}

#about_image {
<<<<<<< HEAD
	background: url(../image/parisbackground.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 20em;
	color: white;
	font-size: 1.5em;
=======
	height: auto;
	max-width: 100%;
} /* Why is this not floating properly? */ 

#about {
	padding: 4em 10px;
	width: 30em;
	margin: auto;
}
#about h3 { 
>>>>>>> origin/master
	font-family: 'Radley', serif;
	font-variant: small-caps;
	padding: 2em;
	text-align: left;
}

#about p {
	padding: 4em 10px;
	width: 30em;
	margin: auto;
	font-size: 0.9em
}

<<<<<<< HEAD
#portfolio_image {
	background: url(../image/grassdrawing.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 20em;
	font-family: 'Radley', serif;
	font-variant: small-caps;
	text-align: left;
	color: white;
	padding: 2em;
	font-size: 1.5em;
}

#portfolio img { 
	padding: 2em 5em 2em 5em;
	width: 25em;
	margin: auto;
}
=======
#portfolio_image {background: url(../image/grassdrawing.jpg);background-size: cover;background-repeat: no-repeat;height: 25em;}
>>>>>>> origin/master

#portfolio h4{
	padding: 2em;
	font-family: 'Radley', serif;
	font-variant: small-caps;
}

#portfolio p {
	padding: 0em 0em 0em 2em;
	font-size: 0.9em
}

#contact h3 { 
	font-family: 'Radley', serif;
	font-variant: small-caps;
	text-align: left;
	font-size: 1.5em;
}

.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

footer {
	background-color: black;
}
